{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
   <h3 class="text-center mt-5"> Atrof-muhit va tabiatni muhofaza qilish texnologiyalari ilmiy-tadqiqot institutining rahbariyati</h3>
<section class="wf100 p80 team">
         <div class="team-grid">
            <div class="container">
               <div class="row">
                  <!--Team Box Start-->
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="team-box">
                        <img style="width: 360px; height: 480px;" src="{% static 'images/Pulatov.jpg' %}" alt="">
                        <div class="team-info">
                           <h6 style="color:aliceblue">Pulatov Baxtiyor Alimovich</h6>
                           <p>Direktor</p>
                           <ul>
                              <li>Elektron pochta: eco_nii@uznature.uz <br>
                                 Qabul kunlari Dushanba-Juma <br>
                                 Qabul vaqti: 10:00 - 12:00
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="team-box">
                        <img style="width: 360px; height: 480px;"  src="{% static 'images/Buriyev.jpg' %}" alt="">
                        <div class="team-info">
                           <h6 style="color:aliceblue">Buriyev Salim Samedjanovich</h6>
                           <p>Innovatsiyalar bo‘yicha o‘rinbosari</p>
                           <ul>
                              <li>
                                 Elektron pochta: s.buriyev@eco.gov.uz
                                 <br>
                                 Qabul kunlari Seshanba Payshanba
                                 <br>
                                 Qabul vaqti: 10:00 - 12:00</li>

                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="team-box">
                        <img style="width: 360px; height: 480px;" src="{% static 'images/aminov.jpg' %}" alt="">
                        <div class="team-info">
                           <h6 style="color:aliceblue"> Aminov Xamza Xusanovich</h6>
                           <p>Ilmiy ishlar bo‘yicha direktor o‘rinbosari</p>
                           <ul>

                              <li>Elektron pochta: eco_nii@uznature.uz

                                 Qabul kunlari Chorshanba
                                 <br>
                                 Qabul vaqti: 10:00 - 12:00</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
</div>
{% endblock %}

