{% extends 'base.html'%}
{% load static %}
{% block content %}

<!--<h1>Tuzilma page bu </h1>-->
<section>

      <div style="display: block;" class="tuzilma">
         <h4 class="mt-4 text-center">Atrof muhit va tabiatni muhofaza qilish texnologiyalari ilmiy-tadqiqot institutining</h4>
         <h2 class="text-center"> TUZILMASI</h2>
         <img style=" width: 1000px; height: 1000px;margin-left: 15%" src="{% static 'images/tuzilma2.jpg' %}" alt="Tuzilma rasmi">
      </div>
<!--      -->
   </section>
{% endblock %}